.dashboard {
  text-align: center;
}

.dashboard-title {
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
}

.dashboard-intro {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  margin-top: 10%;

}

.custom-advice-label {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.get-guidepost-button {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  border: 2px solid black;
  background-color: transparent;
  width: 10%;
  padding: .8%;
}
